<nav class="">
  <h2><%= link_to "AppointmentMaster", root_path, class:"ui header" %></h2>
    <div class="ui secondary pointing menu padding2menu">
          
          <% if current_user %>
            <a class="item">
              <%= link_to 'Doctors', doctors_path, class:"ui header" %>
            </a>
            <a class="item">
              <%= link_to 'Add Doctor', new_doctor_path, class:"ui header" %>
            </a>    
            <a class="item">
              <%= link_to 'Patients', patients_path, class:"ui header" %>
            </a>                
            <a class="item">
              <%= link_to 'Add Patient', new_patient_path, class:"ui header" %>
            </a>
            <div class="right menu">
              <a class="item">
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"ui header" %>
              </a>            
            </div>
          <% else %>
            <div class="right menu">
              <a class="item">
                <%= link_to "Login", new_user_session_path, class:"ui header" %>
              </a>
              <a class="item">  
                 <%= link_to "Register", new_user_registration_path, class:"ui header" %>
              </a> 
            </div>
          <% end %>
    </div>
</nav>
